.container {
  background-image: url("./astronaut.png");
  width: 516px;
  height: 536px;
  object-fit: contain;
  margin-left: 70px;
  margin-top: 20px;
  position: relative;
}

.eclipse {
  width: 400px;
  height: 400px;
  position: absolute;
  object-fit: contain;
  top: 100px;
  left: 300px;
}
.mainContainer {
  height: 0;
  margin-top: 41px;
  position: relative;
}
.secondEclipse {
  position: absolute;
  top: 100%;
  right: 400px;
  object-fit: contain;
  z-index: 0;
}
.thirdEclipse {
  bottom: 100px;
  right: 350px;
  position: absolute;
  object-fit: contain;
  z-index: 0;
}
form {
  position: absolute;
  z-index: 10;
}
